<mat-card>
  <mat-card-header>
    <mat-card-title>{{isNew ? 'Create' : 'Update'}} Contact Information</mat-card-title>
  </mat-card-header>

  <form #formDirective="ngForm" (ngSubmit)="onSubmit()"  [formGroup]="contactFormGroup">
    <mat-card-content class="p-1">
      <mat-form-field appearance="outline" class="form-field-block pb-1">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="Enter your first name" required type="text">
        <mat-error
          *ngIf="fControl.firstName.invalid && (fControl.firstName.dirty || fControl.firstName.touched)">
          <app-error-message [controlName]="fControl.firstName"></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-block pb-1">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput placeholder="Enter your last name" type="text">
        <mat-error
          *ngIf="fControl.lastName.invalid && (fControl.lastName.dirty || fControl.lastName.touched)">
          <app-error-message [controlName]="fControl.lastName"></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-block pb-1">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Enter your email" required type="email">
        <mat-error *ngIf="fControl.email.invalid && (fControl.email.dirty || fControl.email.touched)">
          <app-error-message [controlName]="fControl.email"></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-block pb-1">
        <mat-label>Phone Number</mat-label>
        <input #phoneNumber formControlName="phoneNumber" matInput placeholder="Enter your phone number" required
               type="tel">
        <mat-hint align="end">{{phoneNumber.value?.length || 0}}/10</mat-hint>
        <mat-error
          *ngIf="fControl.phoneNumber.invalid && (fControl.phoneNumber.dirty || fControl.phoneNumber.touched)">
          <app-error-message [controlName]="fControl.phoneNumber"></app-error-message>
        </mat-error>
      </mat-form-field>

      <div class="">
        <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex jc-center">
      <button class="px-4 mx-1" color="primary" mat-stroked-button type="submit">
        {{isNew ? 'Submit' : 'Update'}}
      </button>
      <button (click)="resetContactForm(formDirective)" class="px-4 mx-1" color="warn" mat-stroked-button type="button">
        Reset
      </button>
    </mat-card-actions>
  </form>
</mat-card>
